[Unit]
Description=kcp
Documentation=https://docs.kcp.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory={{ kcp_rootdir }}
ExecStart=/usr/local/bin/kcp start --secure-port {{ kcp_secure_port }} --root-directory {{ kcp_rootdir }} {{ kcp_extra_args }}
